.page-container{
    min-height: 100%;
    position: relative;
}
header{
    background-color: #2e3192;
}
.top-nav{background-color: #363fa8;

}
.test{
    opacity: 0.6;
}

footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: bisque;
    padding:  10px;
}