<div class="page-container">
    <header class="w-100 h-auto m-0 p-0 ">
        <div class="container-fluid">
            <div class="w-100 d-flex align-items-center "> 
                <div class="main-logo py-3"><img src="../../assets/images/main-logo.svg" width="130px" ></div>
                <div class="userinfo ms-auto"> 
                    <h1 class="text-light m-0 p-0 fs-6 fw-bold">Akshat Rai</h1>
                    <p class="text-light m-0 p-0">Hello Welcome</p>
                </div>
            </div>
        </div>
        <div class="w-100 top-nav">
            <div class="container-fluid"> 
            <nav class="navbar navbar-expand-lg navbar-light ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto test">
                <li class="nav-item active">
                  <a class="nav-link text-white text-uppercase px-3" href="#">Dashboard </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white text-uppercase px-3" href="#">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white text-uppercase px-3" href="#">Calender</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white text-uppercase px-3" href="#">Reports</a>
                  </li>
              
                  <li class="nav-item ">
                    <a class="nav-link text-white text-uppercase px-3" href="#">Settings</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white text-uppercase px-3" href="#">Help Center</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white text-uppercase px-3" href="#">Logout</a>
                  </li>
                    
              </ul>
              <form class="form-inline my-2 my-lg-0">
                </form>
            </div>
          </nav> </div></div>
    </header>
    <div class="page-body">
        <div class="w-100 p-4">
            <div class="row text-light text-uppercase">
                <div class="col-lg-3 ">
                    <div class="bg-info text-center p-4">
                        <p class="fs-6">Dashboard item 1</p>
                        <h3 class="fw-bold">35</h3>
                    </div>

                </div>
                <div class="col-lg-3 ">
                    <div class="bg-danger text-center p-4">
                        <p class="fs-6">Dashboard item 2</p>
                    <h3 class="fw-bold">28</h3>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="bg-secondary text-center p-4">
                        <p class="fs-6">Dashboard item 3</p>
                    <h3 class="fw-bold">26</h3>
                    </div>
                </div>
                <div class="col-lg-3  ">
                <div class="bg-success text-center p-4">
                    <p class="fs-6">Dashboard item 4</p>
                    <h3 class="fw-bold">40</h3>
                </div>
                </div>
            </div>
        </div>
        <div class="w-100 bg-white p-4">
            <div class="row">
                <div class="col-lg-3">
                    <img src="../../assets/images/grey.jpeg" height="180px" width="100%" >
                </div>
                <div class="col-lg-9">
                   
                    <h1 class="text-dark fs-6 fw-bold m-0 p-0">Your Heading</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus consequuntur illum impedit pariatur exercitationem dolorum asperiores explicabo error? Dolores, soluta. Quod harum, qui quas laboriosam dolorum quidem consectetur voluptas repudiandae doloremque saepe quos recusandae suscipit eveniet molestias facere!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus consequuntur illum impedit pariatur exercitationem dolorum asperiores explicabo error? Dolores, soluta. Quod harum, qui quas laboriosam dolorum quidem consectetur voluptas repudiandae doloremque saepe quos recusandae suscipit eveniet molestias facere!</p>
                 
                   
                </div>
            
            </div>
        </div>
    </div>
    <footer class="text-center">Lorem ipsum dolor sit.</footer> 
</div>