  
  <!--Header of the page: logo + user name-->
  <header>
    <div class="logo-header d-flex space-around align-items-center py-1 px-3">
      <img class="logo" src="./assets/images/main-logo.svg" alt="logo">
      <div class="side-header text-light p-2">
        <div class="username-name fw-bold">Mithun P</div>
          <div class="greetings">Hello Welcome</div>
        </div>
      </div>
    <!--Navbar-->
    <div class="col">
      <ul class="nav justify-content-start py-2 px-3">
        <li class="nav-item">
          <a class="nav-link fw-bold active" href="./dashboard">DASHBOARD</a>
        <li>
        <li class="nav-item">
          <a class="nav-link fw-bold active" href="./products">PRODUCTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold active" href="#">LOGOUT</a>
        </li>
      </ul>
    </div>
  </header>
  <div class="container bg-light m-5 p-4">
    <div class="heading d-flex space-around">
      <div class="heading-left">
        <!--Header above Table-->
        <h5 class="fw-bold m-0">Product List</h5>
        <p style="font-size:12px;">View and add all your products here</p>
      </div>
      <div class="heading-right">
        <!--Add Products Button-->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="productsmodalopen()">
          Add products
        </button>
        
      </div>
      
    </div>

    <div class="modal" id="myModal">
      <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header px-3">
              <h4 class="modal-title">Add Product</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="productsmodalclose()">
              </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body m-3">
              <form  (ngSubmit)="addProduct()">
                <label for="title" class="mb-1 fw-bold">Title</label><br>
                <input type="text" name="title" [(ngModel)]="newproduct.title" placeholder="Title" class="w-100 p-2 mb-4">
                <label for="price" class="mb-1 fw-bold">Price</label><br>
                <input type="text" name="price" [(ngModel)]="newproduct.price" placeholder="Price" class="w-100 p-2 mb-4 ">
                <label for="rating" class="mb-1 fw-bold">Rating</label><br>
                <input type="text" name="rating" [(ngModel)]="newproduct.rating" placeholder="Rating" class="w-100 p-2 mb-4">
                <label for="brand" class="mb-1 fw-bold">Brand</label><br>
                <select name="brand" placeholder="Brand" class="w-100 p-2 mb-4" [(ngModel)]="newproduct.brand">
                          <option value="Apple">Apple</option>
                          <option value="Samsung">Samsung</option>
                          <option value="Oppo">Oppo</option>
                          <option value="Huawei">Huawei</option>
                      </select>

                      
                      <div class="modal-footer d-flex justify-content-end">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                              (click)="productsmodalclose()">Cancel</button>
                          <button type="submit" class="btn btn-success">Save</button>
                      </div>

                  </form>

              </div>
            
          </div>
      </div>
  </div>

    <!--Table-->
    <table class="table table-striped">
      <thead>
        <!--Header titles of the Table-->
        <tr>
          <th scope="col">#</th>
          <th scope="col">TITLE</th>
          <th scope="col">PRICE</th>
          <th scope="col">RATING</th>
          <th scope="col">BRAND</th>
          <th scope="col">ACTION</th>
        </tr>
      </thead>
      <tbody>
        <!--using http call in prod.service to fetch data from the api-->
        @for (prod of products; track prod.id){
          <tr>
            <th scope="row">{{$index+1}}</th>
            <td>{{prod.title}}</td>
            <td>{{prod.price}}</td>
            <td>{{prod.rating}}</td>
            <td>{{prod.brand}}</td>
            <td style="font-size: 5px;">
              <button type="button" class="m-1 btn btn-warning" style="font-size: 14px;" (click)="editProduct($index)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="deleteProduct($index)">Delete</button>
            </td>
          </tr>
        }
        @empty{
          <h5 class="m-5">No Products to Display</h5>
        }
        
      </tbody>
    </table>
  </div>