 <div class="page-container w-100 vh-100 pb-2 m-0" style="background-color: hsl(234, 40%, 80%);">
        <header>
            <div class="logo-header d-flex space-around align-items-center py-1 px-3">
                <img class="logo" src="./assets/images/main-logo.svg" alt="logo">
                <div class="side-header text-light p-2">
                    <div class="username-name fw-bold">Mithun P</div>
                    <div class="greetings">Hello Welcome</div>
                </div>
            </div>
            <div class="col">
              <ul class="nav justify-content-start py-2 px-3">
                  <li class="nav-item">
                    <a class="nav-link fw-bold active" href="./dashboard">DASHBOARD</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-bold active" href="./products">PRODUCTS</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link fw-bold active" href="#">LOGOUT</a>
                  </li>
              </ul>
          </div>
        </header>

        <div class="container w-100 d-flex justify-content-around my-2" >
            <div class="row" style="width:100%;">
                <div class="col-sm-6 col-md-3 my-2">
                  <div class="card" id="card1">
                    <div class="card-body pt-4 ">
                      <h5 class="card-title text-center" style="font-size: 14px;">DASHBOARD ITEM 1</h5>
                      <p class="card-text text-center fw-bold" style="font-size: 16px;">41</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 my-2">
                  <div class="card" id="card2">
                    <div class="card-body pt-4">
                      <h5 class="card-title text-center" style="font-size: 14px;">DASHBOARD ITEM 2</h5>
                      <p class="card-text text-center fw-bold" style="font-size: 16px;">28</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 my-2">
                    <div class="card" id="card3">
                      <div class="card-body pt-4">
                        <h5 class="card-title text-center" style="font-size: 14px;">DASHBOARD ITEM 3</h5>
                        <p class="card-text text-center fw-bold" style="font-size: 16px;">87</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3 my-2">
                    <div class="card" id="card4">
                      <div class="card-body pt-4">
                        <h5 class="card-title text-center " style="font-size: 14px;">DASHBOARD ITEM 4</h5>
                        <p class="card-text text-center fw-bold" style="font-size: 16px;">124</p>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
            <div class="main-content container m-4 d-flex p-4 justify-content-center">
                <img class="main-body-picture col-sm-12" src="./assets/images/glassy.png" alt="glassy">
                <div class="content-body row">
                    <h3 class="col-sm-12">Your Heading</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos dolore nostrum architecto rem eos nesciunt commodi accusantium est assumenda eligendi ab at quod, aliquid, beatae libero. Officiis nam veniam praesentium itaque libero totam nisi dignissimos obcaecati, maxime sint! Architecto repellendus esse ipsam aliquam iusto error deserunt mollitia, rem asperiores. Rerum nisi similique, accusantium enim dignissimos esse illo, quisquam tenetur et ratione doloribus vel nihil labore veniam distinctio omnis beatae! Esse, sint dicta ipsum corporis blanditiis nihil obcaecati ex harum rerum facere qui vitae aut, architecto minus velit quaerat expedita odit perferendis tenetur! Aliquam dolor esse enim minus corporis necessitatibus laboriosam non earum reprehenderit facilis quae impedit debitis aspernatur, nihil quis voluptatum minima, ab corrupti maxime sequi veritatis!</p>
                </div>
            </div>

        <footer class="mt-4"><div class="container w-100 align-items-center justify-content-center p-2">Lorem ipsum dolor sit amet.</div></footer>
      </div>
