<link rel="stylesheet" href="dashboard.component.css" type="text/css">
    <div class="inner-body w-100 vh-100 pb-2 m-0">
        <header>
            <div class="logo-header d-flex space-around align-items-center py-1 px-3">
                <img class="logo" src="./assets/images/main-logo.svg" alt="logo">
                <div class="side-header text-light p-2">
                    <div class="username-name fw-bold">Mithun P</div>
                    <div class="greetings">Hello Welcome</div>
                </div>
            </div>
            <div class="col">
              <ul class="nav justify-content-start py-2 px-3">
                  <li class="nav-item">
                    <a class="nav-link fw-bold active" aria-current="page" href="#">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-bold active" href="#">ABOUT</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link fw-bold active" href="#">CONTACT</a>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link fw-bold active" href="#">BLOG</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-bold active" href="#">CAREERS</a>
                  </li>
              </ul>
          </div>
        </header>

        <div class="container w-100 d-flex justify-content-center my-4" style="width:100%;">
            <div class="row">
                <div class="col-sm-6 col-md-3 my-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-center">DASHBOARD ITEM 1</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 my-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-center">DASHBOARD ITEM 2</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3 my-3">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title text-center">DASHBOARD ITEM 3</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-3 my-3">
                    <div class="card border-radius-0">
                      <div class="card-body">
                        <h5 class="card-title text-center">DASHBOARD ITEM 4</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
            <div class="main-content">
                <img class="main-body-picture" src="./assets/images/glassy.png" alt="glassy">
                <div class="content-body">
                    <h3>Your Heading</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos dolore nostrum architecto rem eos nesciunt commodi accusantium est assumenda eligendi ab at quod, aliquid, beatae libero. Officiis nam veniam praesentium itaque libero totam nisi dignissimos obcaecati, maxime sint! Architecto repellendus esse ipsam aliquam iusto error deserunt mollitia, rem asperiores. Rerum nisi similique, accusantium enim dignissimos esse illo, quisquam tenetur et ratione doloribus vel nihil labore veniam distinctio omnis beatae! Esse, sint dicta ipsum corporis blanditiis nihil obcaecati ex harum rerum facere qui vitae aut, architecto minus velit quaerat expedita odit perferendis tenetur! Aliquam dolor esse enim minus corporis necessitatibus laboriosam non earum reprehenderit facilis quae impedit debitis aspernatur, nihil quis voluptatum minima, ab corrupti maxime sequi veritatis!</p>
                </div>
            </div>
        <footer><div class="footer-content">Lorem ipsum dolor sit amet.</div></footer>